.header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: white;
  z-index: 10;
}
.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  width: 100%;
}
.header img {
  display: inline-flex;
  margin-right: 12px;
}
nav {
  display: flex;
  padding-right: 40px;
}
nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 20px 10px;
}


.maincontainer {
  position: relative;
  display: flex;
  justify-content: center;
  top: 100px;
  width: auto;
  height: 1200px;
}

.maincontainer p {
  display: inline-block;
  font-family; Georgia;
  font-size: 17px;
  color: black;
}

.maincontainer span {
  display: inline-flex;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  align-items: center;
  text-align: center;
}

.columnlarge{
  display: flex;
  width: 630px;
  margin: 40px 25px 0px 0px;
  flex-direction: column;
}
.columnmedium {
  display: flex;
  width: 300px;
  margin: 40px 25px 0px 0px;
  flex-direction: column;
}
.columnsmall {
  display: flex;
  width: 240px;
  margin: 40px 25px 0px 0px;
  flex-direction: column;
}

.mainstory {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.imagecontent{
  display: flex;
  height: 300px;
}
.narrative {
  display: flex;
  flex-direction: column;
}
.stories {
  display: flex;
  justify-content: space-between;
}
.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}

#drinks {
  background-image: url("/Users/GavinAdee/Documents/github/mytimes/resources/images/img-story-main.png");
  height: 300px;
  display: flex;
  font-size: 50px;
}
#girl {
  background-image: url("/Users/GavinAdee/Documents/github/mytimes/resources/images/img-story-2.png");
  height: 300px;
  display: flex;
  font-size: 30px;
  text-align: center;
}
#camera {
  background-image: url("/Users/GavinAdee/Documents/github/mytimes/resources/images/img-story-3.png");
  height: 300px;
  display: flex;
  font-size: 30px;
  text-align: center;
}


#cats {
  background-image: url("/Users/GavinAdee/Documents/github/mytimes/resources/images/img-story-1.png");
  height: 300px;
  display: flex;
  font-size: 30px;
  text-align: center;
}

.newsbites h2 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#bite {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
  flex-direction: column;
}

.footerinfo{
  display: flex;
  align-items: center;
  height: 30px;
}

#title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  align-items: center;
  padding-right: 20px;
  border-right: 2px solid white;
  height: auto;
}

#footernav {
  padding-left: 20px;
  padding-right: 0px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
